body.image #content {
  bottom: 205px;
}

body.image.bigger #content {
  bottom:400px;
}


body.image #msg {
  bottom:205px
}

body.image #bin {
  height:205px;
}

body.image.bigger #msg {
  bottom:400px
}

body.image.bigger #bin {
  height:400px;
}

#bin {
    width: 100vw;
    height: 0px;
    bottom: 0;
    z-index: 1;
    background: rgb(249, 244, 254);
    box-shadow: inset 0 5px 50px rgba(120, 0, 255, 0.08), inset 0px 2px 9px rgba(87, 41, 148, 0.38);
    position: fixed;
    transition: .4s all ease-in-out;
    overflow:hidden;
        font-size: 10pt;
    font-family: times new roman;
    font-style: italic;
}

html.night #bin {
  background:black
}

#biggerbinbutton {
    width: 30px;
    height: 30px;
    border: 4px outset #dbdfe8;
    background: rgb(238, 239, 255);
    background-image: url(./image/bigger.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 91px;
    right: 0;
}

html.night #biggerbinbutton {
      border: 4px outset #48494c;
    background: rgb(41, 41, 41);
    background-image: url(./image/bigger.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

#biggerbinbutton:active, #biggerbinbutton.locked, #biggerbinbutton.locked:active {
  border: 4px inset #dbdfe8;
}

html.night #biggerbinbutton:active, html.night #biggerbinbutton.locked, html.night #biggerbinbutton.locked:active {
  border: 4px inset #48494c;
}



#binarea {
  transition:all .4s ease-in-out
}

body.image.bigger #binarea {
  height: 385px;
}

#backupbutton:active {
  border: 4px inset #10003c;
}

html.day #backupbutton:active {
  border: 4px inset #f1f1f1;
}

#backupbutton {
    width: 30px;
  height: 30px;
    border: 4px outset #10003c;
    background: rgb(0, 2, 82);
    background-image: url(./image/jaz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 362px;
  right: 0;
}

html.day #backupbutton {
  border: 4px outset #f1f1f1;
    background: rgb(243, 243, 243);
        background-image: url(./image/jaz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

}

#newbinbutton {
  width: 30px;
  height: 30px;
  border: 4px outset #dfffff;
  background: rgb(231, 246, 255);
  background-image: url(./image/butterfly.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  top: 167px;
  right: 0;
}

html.night #deletebinbutton {
width: 30px;
    height: 30px;
    border: 4px outset #424242;
    background: #222;
    background-image: url(./image/bintrash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 129px;
    right: 0;
}

html.night #deletebinbutton:active {
  width: 30px;
  height: 30px;
  border: 4px inset #424242;
  background: #222;
  background-image: url(./image/bintrash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  top: 129px;
  right: 0;
}

html.day #deletebinbutton {
    width: 30px;
    height: 30px;
    border: 4px outset #f3f2f2;
    background: #fbf8fb;
    background-image: url(./image/bintrash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 129px;
    right: 0;
}

html.day #deletebinbutton:active {
    width: 30px;
    height: 30px;
    border: 4px inset #f3f2f2;
    background: #fbf8fb;
    background-image: url(./image/bintrash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: 129px;
    right: 0;
}

.bin.deletemode {
    cursor:crosshair;
}

html.night .bin.deletemode, html.day .bin.deletemode {
    cursor: crosshair;
    box-shadow: inset 0px 0px 500px 500px rgba(255, 0, 0, 0.24);
    border: 3px inset #af0000!important;
}

html.night .bin.deletemode:hover, html.day .bin.deletemode:hover {
    cursor: crosshair;
    box-shadow: inset 0px 0px 500px 500px rgba(255, 0, 0, 0.5);
    border: 3px inset #af0000!important;
}

html.night #deletebinbutton.locked {
  border: 4px inset red;
  background: #8a0000;
  background-image: url(./image/bintrash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

html.day #deletebinbutton.locked {
  border: 4px inset red;
  background: #8a0000;
  background-image: url(./image/bintrash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}



html.night #newbinbutton {
      border: 4px outset #58008c;
    background: rgb(35, 0, 88);
  background-image: url(./image/butterfly.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

#newbinbutton:active {
  border: 4px inset #dfffff
}

html.night #newbinbutton:active {
        border: 4px inset #58008c;
    background: rgb(35, 0, 88);
  background-image: url(./image/butterfly.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

#binarea {
    width: calc(100vw - 38px);
    height: 190px;
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bin.newbin {
  max-width:0px
}

.bin:nth-child(n+2) {
   margin-left: 10px;
}


.bin {
    border: 3px inset #ecdfff;
    border-bottom: 4px inset white;
    border-right: 4px inset white;
    margin-bottom: 0;
    display: flex;
    flex-grow: 1;
    max-width: 100vw;
    transition:all .3s ease-out;
    animation:grow .7s ease-out forwards;
    background:white;
    position:relative;
    overflow:hidden
}

html.night .bin {
  background:black
}




.bin.byebye {
  flex-grow: 0!important;
}

html.night .bin {
  border:3px inset #a600ff!important
}

/*
// add a class to all if bincount is > 3
.bin.multibin:hover {
  flex-grow:2
}
*/

.bin .showthumb {
   border: 3px outset white;
  width: 4px;
  height: 24px;
  background: #e4e4e4;
  position: absolute;
  left: 11px;
  bottom: 0px;
  transition: all .3s ease-in-out;
}

html.night .bin .showthumb {
  border: 3px outset #565656;
  border-bottom: 3px outset #777777;
  border-right: 3px outset #777777;
  background: #2f2f2f;
}

.bin .shuffle {
  position: absolute;
    bottom: 30px;
    width: 15px;
    height: 3px;
    background: #eee;
    border: 3px outset #eee;
}

.bin .shuffle:active {
  border: 3px inset #eee;
}

html.night .bin .shuffle:active {
  border: 3px inset #505050;
}

html.night .bin .shuffle {
    position: absolute;
    bottom: 30px;
    width: 15px;
    height: 3px;
    background: #333;
    border: 3px outset #505050;
}

.bin .bintrash {
      position: absolute;
    bottom: 0;
    width: 5px;
    height: 24px;
    background: #eee;
    border: 3px outset #eee
}

html.night .bin .bintrash {
      position: absolute;
    bottom: 0;
    width: 5px;
    height: 24px;
    background: #333;
    border: 3px outset #505050;
}

body.minibintrashlocked .bintrash {
      position: absolute;
    bottom: 0;
    width: 5px;
    height: 24px;
    background: red!important;
    border: 3px inset red!important
}

.bintrash:active {
  border: 2px inset #eee
}

html.night .bintrash:active {
  border: 2px inset #505050;
}

.bin .showthumb.active {
   border: 3px inset white;
  background: #e4e4e4;
}

body.minibintrashlocked img {
  cursor:crosshair
}








html.night .bin .showthumb.active {
  border: 3px inset #565656;
  border-top: 3px inset #777777;
  border-left: 3px inset #777777;    
}

.bin .showthumb:active {
  border: 3px inset white;
}

html.night .bin .showthumb:active {
  border: 3px inset #565656;
  border-top: 3px inset #777777;
  border-left: 3px inset #777777;   
}




html.night .bin .minimize {
    border: 3px outset #565656;
    border-bottom: 3px outset #777777;
    border-right: 3px outset #777777;
    background: #2f2f2f;
}

html.night .bin .minimize:active {
    border: 3px inset #565656;
    border-top: 3px inset #777777;
    border-left: 3px inset #777777;
    background: #2f2f2f;
}

.bin.minimize {
    flex-grow: 0;
}

.bin.minimize .header {
    width: 15px;
    height: 15px;
}

.bin.minimize .minimize {
  top:21px;
  width:15px;
  height:15px;
}

.bin .minimize {
    border: 3px outset white;
    width: 24px;
    height: 5px;
    background: #e4e4e4;
    position: absolute;
    left: 0;
    top: 30px;
    transition:all .3s ease-in-out
}

.bin .minimize:active {
  border: 3px inset white;
}

.bin > .header {
width: 30px;
    width: 24px;
    height: 24px;
    background: #eaeaea;
    background-image: url(./image/bin2.png);
    border: 3px outset #fff;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    image-rendering: pixelated;
    position: relative;
    top: 0;
    bottom: 0;
    transition:all .3s ease-in-out
}

html.night .bin > .header {
  border: 3px outset #3e3e3e
}

.bin > .header:active {
  border: 3px inset #fff;
}

html.night .bin > .header:active {
  border: 3px inset #fff;
}

/* qwikbin */

.qwikbin {
position: absolute;
    display: inline;
    /* border: 1px solid red; */
    margin-right: 5px;
    width: 120px;
    height: 38px;
    margin-top: 4px;
    margin-left: -126px;
    z-index: 99;
    transition: all .3s ease-in;
}

.bininput {
      z-index: 999999999999999999999999;
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    pointer-events:none
}

.bininput.visible {
  pointer-events:all
}

body.xbin1 .qwikbinicon[data-qwikbin="1"],
body.xbin2 .qwikbinicon[data-qwikbin="2"],
body.xbin3 .qwikbinicon[data-qwikbin="3"],
body.xbin4 .qwikbinicon[data-qwikbin="4"],
body.xbin5 .qwikbinicon[data-qwikbin="5"],
body.xbin6 .qwikbinicon[data-qwikbin="6"],
body.xbin7 .qwikbinicon[data-qwikbin="7"],
body.xbin8 .qwikbinicon[data-qwikbin="8"] {
  display:none!important
}

.qwikbinicon {
width: 32px;
    height: 32px;
    position: relative;
    display: inline-block;
    float: right;
    background-position: 50%;
    background-size: 32px 32px;
    image-rendering: pixelated;
    transition: all .2s ease-out;
    opacity:0;
    cursor:pointer
}

p img:hover + .qwikbin > .qwikbinicon, .qwikbin:hover > .qwikbinicon {
  opacity:.7
}

.qwikbinicon:hover {
  opacity: 1!important;
  transform: scale(1.5);
}

.qwikbinicon:active {
  transform:scale(1);
}

.qwikbinicon.qwikpik {
  opacity:.5;
}

/* */

.bincontainer {
position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 11px);
    left: 43px;
    top: 11px;
    /* padding-bottom: 10px; */
    z-index: 0;
        width: calc(100% - 20px);
}

.bincontainer img {
      max-width: 60px;
    max-height: 100px;
    position: relative;
}

@keyframes grow {
  0% {max-width:0px}
  100% {max-width:100vw}
}

body.peek #msg {
  bottom:100px;
}

body.peek #bin {
    height: 205px;
    bottom: -105px;
}

