.bubble {
  position: absolute;
  filter: hue-rotate(319deg) brightness(100%) saturate(200%);
  left: 132px;
  z-index: 999;
  bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  perspective: 80px;
}

.favbubble {
  position:absolute;
  filter:saturate(210%);
  left:132px;
  bottom:0px;
  perspective:80px;
  width:200px;
  height:200px;
}

.pinkbubble {
  background: rgba(255, 0, 0, .03);
  box-shadow: inset 3px 2px 18px rgb(255, 0, 253), inset 2px -3px 12px 0px rgba(122, 255, 0, 0.83), inset 0 0 0px rgb(255, 255, 255), 0px 5px 10px rgba(122, 0, 79, 0.3);
}

.bubble::after {
  content: '';
  background: white;
  width: 30px;
  height: 30px;
  left: 9px;
  top: 11px;
  position: absolute;
  border-radius: 100px;
  transform: scale(.7) rotateY(-25deg) rotateX(383deg);
}

.bubble::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  left: 5px;
  transform: scaleY(.85);
  top: -6px;
}

.pinkbubble::before {
  background: linear-gradient(rgba(122, 100, 255, 0.3),rgba(0,0,0,0));
  box-shadow: inset -7px 5px 10px 1px rgba(0, 255, 127, 0.23);
}

html.night .drawing-board-control-navigation-back {
    background-color: rgba(221, 255, 220, 0.18)!important;
    border: 3px outset rgba(0, 245, 78, 0.77)!important;
}

html.night .drawing-board-control-navigation-back.active {
    background-color: rgba(221, 255, 220, 0.18)!important;
    border: 3px inset rgba(0, 245, 78, 0.77)!important;
}

html.night .drawing-board-control-navigation-reset {
    background-color: rgba(221, 241, 255, 0.39)!important;
    border: 3px outset rgba(0, 39, 255, 0.91)!important;
}

html.night .drawing-board-control-drawingmode-pencil-button.active {
    background-color: rgba(255, 212, 212, 0.26)!important;
    border: 3px inset #c11fce!important;
}

html.night .drawing-board-control-drawingmode-pencil-button {
    background-color: rgba(255, 212, 212, 0.26)!important;
    border: 3px outset #c11fce!important;
}

html.night .drawing-board-control-drawingmode-eraser-button {
    background-color: rgba(255, 221, 221, 0.23)!important;
    border: 3px outset rgb(171, 125, 125)!important;
}
html.night .drawing-board-control-drawingmode-eraser-button.active {
    background-color: rgba(255, 221, 221, 0.23)!important;
    border: 3px inset rgb(171, 125, 125)!important;
}
html.night .drawing-board-control-drawingmode-filler-button {
    background-color: #4b3654!important;
    border: 3px outset #534b58!important;
}
html.night .drawing-board-control-drawingmode-eraser-button.active {
    background-color: #4b3654!important;
    border: 3px inset #534b58!important;
}