#crawl {
  overflow-y: hidden;
  height: calc(100% + 10px);
  overflow-x: hidden;
  width: calc(100vw - 10px);
  position: absolute;
  left: 100vw;
  bottom: -10px;
  transition: all .5s ease-in-out;
  border: 5px solid lime;
}

html.crawl #content {
  width:calc(40vw - 10px);
}

html.crawl #crawl {
  width:calc(60vw - 10px);
  left:40vw
}

#crawl iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  margin: 0;
  padding: 0;
}