#fidgetspinbox {
  width:250px;
  height:250px;
  border-radius:250px;
  overflow:hidden;
  position:absolute;
  bottom:250px;
  right:10px;
}
#fidgetspinner {
  width:250px;
  height:250px;
  position:absolute;
  background-size:cover;
  z-index:1;
}
#fidgetholder {
  position:absolute;
  width:70px;
  height:70px;
  top:50%;
  z-index:9999999;
  left:50%;
  margin-left:-35px;
  margin-top:-35px;
  background-image:url(https://bog.jollo.org/spinholder.png);
  border-radius:80px;
  content:'';
  cursor:pointer;
}
/*
html.night #fidgetholder {
    background-image:url(https://bog.jollo.org/xn.png)!important;
}
*/

#fidgetholder:active {
  cursor:pointer
}
/*
html.night #fidgetspinner {
  background:none!important;
  animation:1s fidgetnight linear infinite
}

@keyframes fidgetnight {
  0%{box-shadow: inset 60px 0px 230px 0px #00e6ff;}
  100%{box-shadow: inset 0px 0px 0px 0px #00e6ff;}
}*/