#fidgetspinbox {
  width:250px;
  height:250px;
  border-radius:250px;
  overflow:hidden;
  position:absolute;
  bottom:250px;
  right:10px;
}
#fidgetspinner {
  width:250px;
  height:250px;
  position:absolute;
  background-size:cover;
  z-index:1;
}
#fidgetholder {
  position:absolute;
  width:70px;
  height:70px;
  top:50%;
  z-index:9999999;
  left:50%;
  margin-left:-35px;
  margin-top:-35px;
  background-image:url(https://bog.jollo.org/spinholder.png);
  border-radius:80px;
  content:'';
  cursor:pointer;
}

#fidgetholder:active {
  cursor:pointer
}
