@font-face {
  font-family: "D7MBI";
  src: url("./fonts/DSEG7Modern-BoldItalic.woff2") format('woff');
}

#radiocontrols {
  cursor:pointer
}

#radioeject {
  width:295px;
  height:134px;
  position:absolute;
  background-image:url(https://bog.jollo.org/css/image/radioeject/wii/wiiejectsprite.png);
  background-repeat:no-repeat;
  background-position: -885px -268px;
  z-index:999;
  right:0;
  bottom:90px;
}

html.night #radioeject {
  background-image:url(https://bog.jollo.org/css/image/radioeject/night/nightejectsprite.png);
  background-repeat:no-repeat;
  background-position: -885px -268px;
}

#radioeject.ejected {
  animation:.4s eject linear forwards 1
}

html.night #radioeject.ejected {
  animation:.4s eject linear forwards 1
}

#radioeject.ejected.closed {
  animation:.4s ejectclose linear forwards 1
}

html.night #radioeject.ejected.closed {
  animation:.4s ejectclose linear forwards 1
}

@keyframes eject {

  0%        { background-position: -590px -268px }
  9.99999%  { background-position: -590px -268px }
  10%       { background-position: -295px -268px }
  19.99999% { background-position: -295px -268px }
  20%       { background-position: 0px    -268px }
  29.99999% { background-position: 0px    -268px }
  30%       { background-position: -885px -134px }
  39.99999% { background-position: -885px -134px }
  40%       { background-position: -590px -134px }
  49.99999% { background-position: -590px -134px }
  50%       { background-position: -295px -134px }
  59.99999% { background-position: -295px -134px }
  60%       { background-position: -0px   -134px }
  69.99999% { background-position: -0px   -134px }
  70%       { background-position: -885px    0px }
  79.99999% { background-position: -885px    0px }
  80%       { background-position: -590px    0px }
  89.99999% { background-position: -590px    0px }
  90%       { background-position: -295px    0px }
  99.99999% { background-position: -295px    0px }
  100%      { background-position: 0px       0px }

}

@keyframes ejectclose {

  0%        { background-position: 0px       0px }
  8.99999%  { background-position: 0px       0px }
  9%        { background-position: -295px    0px }
  17.99999% { background-position: -295px    0px }
  18%       { background-position: -590px    0px }
  26.99999% { background-position: -590px    0px }
  27%       { background-position: -885px    0px }
  35.99999% { background-position: -885px    0px }
  36%       { background-position: -0px   -134px }
  44.99999% { background-position: -0px   -134px }
  45%       { background-position: -295px -134px }
  53.99999% { background-position: -295px -134px }
  54%       { background-position: -590px -134px }
  62.99999% { background-position: -590px -134px }
  63%       { background-position: -885px -134px }
  71.99999% { background-position: -885px -134px }
  72%       { background-position: 0px    -268px }
  80.99999% { background-position: 0px    -268px }
  81%       { background-position: -295px -268px }
  89.99999% { background-position: -295px -268px }
  90%       { background-position: -590px -268px }
  99.99999% { background-position: -590px -268px }
  100%      { background-position: -885px -268px }

}

#radiohud {
  position:absolute;
  bottom:38px;
  right:0;
  width:305px;
  height:64px;
  transform: rotate(3deg) translate(115px,22px);
  opacity: 0;
  font-family: 'Inconsolata', monospace;
  font-size:12px;
  transition: all .3s ease-in-out;
  pointer-events:none
}

html.day #radiohud {
  color: #194880;
}

html.night #radiohud {
    color: #00f9ff;
    text-shadow: 0px 0px 5px #00b6ff;
}

#radiohud > div {
  position: absolute;
  opacity:.68
}

html.night #radiohud > div {
  opacity:1
}

#radiosource, #radioejection {
  top: 24px;
  transform: rotate(90deg);
  font-family: 'Inconsolata';
  right: 33px;
  height: 12px;
  opacity: 0.3!important;
  width: 10px;
  text-align: left;
  font-size: 11.5px;
  cursor: pointer;
  transition:opacity .2s ease-in-out;
}

#radiosource:hover, #radioejection:hover {
  opacity:.95!important
}

#radioejection {
  transform: rotate(0deg);
  right: 19px;
  font-size: 7pt;
  top: 23px;
}

.undim .radioplaylistrow.currenttrack {
  color: rgb(205, 246, 255)!important;
  background: rgba(109, 132, 200, 0.72);
}

html.night .undim .radioplaylistrow.currenttrack {
  color: rgb(133, 227, 255)!important;
    background: rgba(0, 91, 255, 0.67);
}

#radioejection.open {
  opacity:.61!important
}

html.night #radioejection.open {
  opacity:.85!important
}

#radioejectdisplay {
  position: absolute;
  width: 231px;
  height: 99px;
  left: 36px;
  top: 26px;
  overflow:hidden;
  font-family: inconsolata;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.4px;
  color:rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition: color .2s ease-in-out;
  pointer-events:none
}

#radioejectdisplay.undim {
  color: rgb(101, 122, 195)!important;
  text-shadow: 1px 1px 1px rgba(1, 26, 139, 0.09)!important;
  pointer-events:all!important;
}

html.night #radioejectdisplay.undim {
  color: rgba(0, 220, 255, 0.84)!important;
  text-shadow: 0px 0px 4px rgb(16, 60, 255)!important
}

#radioejectdisplaycontent {
  overflow-x:hidden;
  overflow-y:scroll;
  width:250px;
  height:99px;
  cursor: default;
}

#radiotext {
  top: 26px;
  font-family: 'Inconsolata';
  left: 105px;
  height: 19px;
  width: 148px;
  text-align: left;
  font-size: 11.5px;
  overflow:hidden;
}

.radioplaylisttrack {
  width:200px;
  overflow:hidden;
  height:10px;
}

.radioplaylistrow {
  display:flex
}

.radioplaylistrow > div {
    display: inline-block;
}

html body #radiohud div#radiosubtext {
  top: 38px;
  font-family: 'Inconsolata';
  left: 157px;
  height: 12px;
  width: 88px;
  text-align: left;
  font-size: 11.5px;
  opacity:0;
  transition:opacity .2s ease-in-out
}

html body #radiohud div#radiosubtext.viz {
  opacity:.68
}

#radiocontrols {
  top: 38px;
  left: 104px;
  height: 12px;
  width: 50px;
  font-size: 9px;
}

#radiominremain {
  top: 39px;
  right: 27px;
  height: 12px;
  width: 25px;
  font-size: 8pt;
  text-align: left;
}

html #radiohud div#radioqueueloading {
  top: 39px;
  right: 43px;
  height: 12px;
  width: 15px;
  font-size: 8pt;
  text-align: left;
  opacity:0
}

#radioqueueloading.viz {
  animation:.3s radioqueue ease-in-out alternate infinite
}

@keyframes radioqueue {
  0% {opacity:0}
  100% {opacity:1}
}

#radioled {
  top: 30px;
  left: 25px;
  height: 20px;
  opacity:.075!important;
  width: 70px;
  font-family: 'D7MBI';
  font-size: 16px;
  text-align:right
}

html.night #radioled {
  opacity:0.24!important
}

#radioledactive {
  top: 30px;
  left: 25px;
  cursor:pointer;
  height: 20px;
  opacity:.48!important;
  width: 70px;
  font-family: 'D7MBI';
  font-size: 16px;
  text-align:right
}

html.night #radioledactive {
  opacity:0.9!important
}

html.radioplaying #radiohud {
  opacity:1;
  transform: rotate(0deg) translate(0px,0px);
  pointer-events:all
}

html.radioplaying body.drum #radiohud {
  transform: rotate(0deg) translate(60px,0px);
}

html.radioplaying body.drum #radioeject {
  transform: rotate(0deg) translate(50px,0px);
}

html.day #radiohud {
  background:url(./image/wii-hud-a.png);
}

html.night #radiohud {
  background:url(./image/night-hud-a.png)
}

/* */

#radiobutton.favedtrack {
  animation:favrainbow .3s infinite linear
}

@keyframes favrainbow {
  0% { border: 4px inset #fff; }
  25% { border: 4px inset #f0f; }
  50% { border: 4px inset #ff0; }
  75% { border: 4px inset #0ff; }
  100% { border: 4px inset #fff; }
}


#radiobutton {
  width: 30px;
  height: 0px;
  border: 4px outset #63ffcf;
  background: #0eff00;
  position: absolute;
  right: 0px;
  bottom: 28px;
  transition:all .12s ease-in-out;
}

html.radioready #radiobutton:active, html.radioready #radiobutton.active {
  background: #0eff00;
  border: 4px inset #fff;
}

html.day.radioplaying #radiobutton:active, html.day.radioplaying #radiobutton.active {
  background:#e5e5e5;
  background-image: linear-gradient(#e5e5e5,#e0e0e0);
  height: 7px;
  border-right: 4px solid white;
  width: 33px;
  border: none;
  border-right: 5px solid white;
  border-bottom: 3px inset #aeabb1;
  z-index: 999999999;
}

html.night.radioplaying #radiobutton:active, html.night.radioplaying #radiobutton.active {
  background:#000;
  background-image: url(./image/night-hud-b.png);
  height: 7px;
  border-right: 4px solid black;
  width: 33px;
  border: none;
  border-right: 5px solid black;
  border-bottom: 3px inset black;
  z-index: 999999999;
}

html.radioready #radiobutton {
  height:0px;
}

.pointereventsnone {
  pointer-events:none!important
}


/* radio is active */

html.radioready #mutebutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 999999999999;
  right: 0px;
  background-color: #1d00ff;
  background-image: url(./image/mute.gif);
  background-size: 30px 21px;
  image-rendering: pixelated;
  height: 22px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #ff9def;
  transition: all .3s ease-in-out;
}

html.radioready #mutebutton:active {
  border: 4px inset #ff9def;
}

#mutebutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 999999999999;
  right: 0px;
  background-color: #1d00ff;
  background-image: url(./image/mute.gif);
  background-size: 30px 30px;
  height: 30px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #ff9def;
  transition: all .3s ease-in-out
}

#mutebutton:active {
  border: 4px inset #ff9def;
}






#favcurrenttrackbutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 99;
  right: 0px;
  background-color: #ffcbf9;
  background-image: url(https://bog.jollo.org/css/image/favtrack.png);
  background-size: cover;
  /* image-rendering: pixelated; */
  height: 22px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #ffb8e1;
  transition: all .3s ease-in-out;
}

#favcurrenttrackbutton:active {
  border: 4px inset #ffb8e1;
}

html.radioplaying #mutebutton {
  bottom:-42px;
}


#mutebutton.doommute::before {
  content: '\\';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  top: -5px;
  z-index: 9999999999999999;
  transform: scaleX(2) scaleY(0.8) translateX(3px)
}

html.radioready #mutebutton.doommute::before {
  content: '\\';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  transform: scaleY(0.8);
  top: -10px;
  z-index: 9999999999999999;
  transform: scaleX(2) scaleY(0.8) translateX(3px)
}

#mutebutton.frogmute::before {
  content: '\/';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  top: -5px;
  z-index: 9999999999999999;
  transform: scaleX(2) scaleY(0.8) translateX(3px)

}

html.radioready #mutebutton.frogmute::before {
  content: '\/';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  transform: scaleY(0.8);
  top: -10px;
  z-index: 9999999999999999;
  transform: scaleX(2) scaleY(0.8) translateX(3px)
}

#mutebutton.frogmute.doommute::before {
  content: 'X';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  top: -5px;
  z-index: 9999999999999999;
  transform: scaleX(1) translateX(0)
}

html.radioready #mutebutton.frogmute.doommute::before {
  content: 'X';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  transform: scaleY(0.8) scaleX(1) translateX(0);
  top: -10px;
  z-index: 9999999999999999;
}
