#zoo.empty {
  transform: translateY(-380px);
}


#zoo {
  width:360px;
  height:280px;
  transition: 8s all linear;
  border:12px groove goldenrod;
  border-radius:200px 200px 0 0;
  position:absolute;
  top:10px;
  right:20px;
  font-family:arial;
  z-index:999999;
}

#zoo::before {
  content:'';
  background:url(http://i.imgur.com/3gJSdia.gif);
  width:460px;
  height:380px;
  background-repeat:no-repeat;
  pointer-events:none;
  position:absolute;
  left:-50px;
  top:80px;
  z-index:999999
}

#exhibit {
  overflow:hidden;
  height:280px;
  width:360px;
  position:absolute;
  top:0;
  left:0;
  border:0px solid red;
  border-radius:200px 200px 0 0;
}

#zoo #listen {
        position: absolute;
    right: 30px;
    bottom: 31px;
    z-index: 99999999999;
}

#zoo #listen::after {
  content: 'listen';
    font-size: 8px;
    font-family: georgia;
    letter-spacing: 1px;
    padding-top: 3px;
    text-align: center;
    pointer-events: none;
    /* font-weight: bold; */
    width: 30px;
    color: #55ff44;
    height: 15px;
    z-index: 99999999999999999999999999;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}


#zoo iframe {
      position: absolute;
    right: 0;
    left:0;
    z-index: 99999999999;
}


#zoo::after {
    content: '';
    z-index: 99999999999;
    border-radius: 0px 10px 0 0;
    right: -43px;
    bottom: 0px;
    text-align: right;
    image-rendering: auto;
    width: 145px;
    height: 171px;
    image-rendering: pixelated;
    text-shadow: 0px 0px 3px lime;
    /* background: rgba(255,255,255,.8); */
    background-image: url(http://i.imgur.com/Ng794JA.png);
    z-index: 9999999;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    font-size: 10px;
    font-family: georgia;
}

#zoo button {
  position:absolute;
  right:0;
  bottom:0;
  font-family:georgia;
  font-size:9px;
  z-index:99999999999;
}


