.bubble {
  position: absolute;
  left: 132px;
  z-index: 999;
  bottom: 32px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  perspective:80px;
}

.pinkbubble {
    box-shadow: inset 0px -2px 3px rgba(255, 228, 255, 0.67), inset 0px -1px 2px rgba(255,255,255,1), inset 0px -2px 8px rgba(255,128,255,.8), inset 0px 0px 20px rgba(255,160,255,.4), inset 0px 0px 20px rgba(128,0,128,.3), 0px 5px 20px rgba(68,0,128,.3);
    background: rgba(50,0,50,.08);
}

.bubble::after {
  content: '';
  background: white;
  width: 15px;
  height: 15px;
  left: 16px;
  top: 15px;
  position: absolute;
  border-radius: 100px;
  transform: scaleX(.8) rotateX(20deg);
}

.bubble::before {
    content: '';
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 100px;
    left: 8px;
    transform: scaleY(0.82);
    top: -7px;


}

.pinkbubble::before {
    background: linear-gradient(rgba(255,250,255,.06),rgba(255,255,255,0));
    box-shadow: inset 0px 3px 3px rgba(255, 255, 255, 0.25), inset 0px 7px 12px rgba(255,178,255,.2);
}