.bubble {
position: absolute;
    filter: hue-rotate(319deg) brightness(100%) saturate(200%);
    left: 132px;
    z-index: 999;
    bottom: 32px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    perspective: 80px;
}

.pinkbubble {
    background: rgba(255, 0, 0, .03);
    box-shadow: inset 3px 2px 18px rgb(255, 0, 253), inset 2px -3px 12px 0px rgba(122, 255, 0, 0.83), inset 0 0 0px rgb(255, 255, 255), 0px 5px 10px rgba(122, 0, 79, 0.3);
}

.bubble::after {
    content: '';
    background: white;
    width: 30px;
    height: 30px;
    left: 9px;
    top: 11px;
    position: absolute;
    border-radius: 100px;
    transform: scale(.7) rotateY(-25deg) rotateX(383deg);
}

.bubble::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  left: 5px;
  transform: scaleY(.85);
  top: -6px;
}

.pinkbubble::before {
    background: linear-gradient(rgba(122, 100, 255, 0.3),rgba(0,0,0,0));
    box-shadow: inset -7px 5px 10px 1px rgba(0, 255, 127, 0.23);
    }