body {
  font-family:arial;
  overflow:hidden;
  font-size:16px;
  
}

.line {
  background:black;
  width:100vw;
  position:fixed;
  top:59px;
  height:1px;
}

.nick {
  font-size:12px;
  font-weight:bold
}

#logo {
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
}

p {
  margin: 12px 8px;
}

div {
  width:500px; 
  margin-left:auto; 
  margin-right:auto;
}

#content {
  overflow-y:scroll;
  height:calc(100vh - 50px);
  width:100vw;
  position:absolute;
  left:0;
  bottom:50px;
  border:5px solid yellow
}

* {
  outline:none!important
}

#input {
  border-radius:2px; 
  border:3px solid magenta;
  margin-top:10px; 
  padding:5px; 
  width: calc(100vw - 150px)
}

#status {
  width:88px; 
  display:block; 
  float:left; 
  margin-top:15px;
}

#msg {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  border:2px solid magenta;
  
  transition:.4s all ease-in-out
}

#msg.setnick {
  padding:8px;
  animation:1s rainbow linear infinite
}

@keyframes rainbow {
  
  0%{background:magenta}
  15%{background:#f90}
  20%{background:white}
  100%{background:cyan}
}

img {
  height:auto;
  width:auto;
  max-width:400px;
  max-height:400px;
}

