body {
  font-family:arial;
  overflow:hidden;
  font-size:16px;
  color:#e1ff00;
  background:url(stars-bb.gif)
}

#fileinput {
  display:none
}

#lockbutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 9999999999999;
  right: 38px;
  background-color: #77f2d9;
  background-size: 30px 30px;
  background-image: url(lock.png);
  height: 30px;
  bottom: 0px;
  position: fixed;
  border: 4px outset #cefff2;
}

#lockbutton:active {
  border: 4px inset #cefff2;
}

#lockbutton.locked {
    animation: 1s flicker linear infinite;
    background: white;
    background-image: url(lock.png);
    background-size: 30px 30px;
    border: 4px inset white;
}

#uploadbutton.locked {
  border:4px inset white
}

  
@keyframes flicker {
0% {
    background: #ff005c;
}
30% {
    background: #efff00;
    background-image: url(lock.png);
    background-size: 30px 30px;
}
60% {
    background: #84ffff;
}
100% {
    color: black;
}
}



span.jiggle {
  animation:.6s jiggle ease-in-out 1
}

@keyframes jiggle {
  0% {color:magenta;
    text-shadow:0px 0px 4px red}
  20% {color:yellow;
  text-shadow:0px 0px 2px yellow}
  50% {color:lime;
  text-shadow:0px 0px 2px lime}
  100% {color:cyan;
  text-shadow:0px 0px 2px teal}
}

p img {
  cursor:pointer
}

p {
  transition:background .3s ease-in-out
}
/*
p.faved {
  animation:10s faved ease-in-out forwards
}

@keyframes faved {
  0% {background: rgba(175,0,255,.19)}
  100% {background: rgba(175,0,255,0);}
}
*/
img {
  filter:saturate(120%) hue-rotate(2deg)
}

.line {
  background:magenta;
  width:0px;
  position:fixed;
  top:59px;
  height:0px;
}

#mutebutton {
    width: 30px;
    display: inline;
    position: relative;
    z-index: 999999999999;
    right: 0px;
    background-color: #1d00ff;
    background-image: url('mute.gif');
    background-size: 30px 30px;
    height: 30px;
    bottom: 0px;
    position: fixed;
    border: 4px outset #ff9def;
    transition:all .3s ease-in-out
}

#mutebutton:active {
  border: 4px inset #ff9def;
}

#mutebutton.muted {
      width: 30px;
    display: inline;
    position: relative;
    z-index: 999999999999;
    right: 0px;
    background-color: #510905;
    background-image: url('mute.gif');
    background-size: 30px 30px;
    height: 30px;
    bottom: 0px;
    position: fixed;
    border: 4px outset #990065;
}

#mutebutton.muted:active {
  border: 4px inset #990065;
}

#mutebutton.muted::before {
    content: 'X';
    font-family: arial;
    font-size: 36px;
    position: absolute;
    color: maroon;
    left: 2px;
    top: -5px;
    z-index: 9999999999999999;
}

.nick {
  font-size:12px;
  font-weight:bold
}



#logo {
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  height:55px;
  width:196px;
  /*background:url('nightbog.gif')*/
}

p {
  margin: 12px 8px;
}

div {
  width:500px; 
  margin-left:auto; 
  margin-right:auto;
}

#content {
  overflow-y:scroll;
  overflow-x:hidden;
  height:calc(100vh - 50px);
  width:calc(100vw - 10px);
  position:absolute;
  left:0;
  bottom:50px;
  border:5px solid #7600ff
}

* {
  outline:none!important
}

#input {
  border-radius:2px; 
  border:3px solid #c800ff;
  margin-top:10px; 
  padding:5px; 
  background:black;
  width: calc(100vw - 314px);
  transition:all .3s ease-in-out;
  color:#e1ff00
}

#input.makeroom {
  width: calc(100vw - 630px);
}

#status {
  width:88px; 
  display:block; 
  padding-top: 1px;
  padding-left: 6px;
  float:left; 
  margin-top:15px;
  color:coral
}

#msg {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  border:2px solid magenta;
  display:inline;
  transition:.4s all ease-in-out
}

#camerabutton {
  position:absolute;
  bottom:0px;
  right:114px;
  width:30px;
  height:30px;
  border:4px outset #5f0;
  background:yellow;
  background:url(camera.gif);
  transition:all .5s ease-in-out
}

#camerabutton:active {
  border:2px inset #5f0;
}
.hidden {
  display:none
}

.loading-modal {
  display:none
}

#videobox {
  position:absolute;
  bottom:80px;
  right:40px;
  width:400px;
  height:300px;
}

#videoclose {
  position:absolute;
  top:30px;
  left:30px;
  border:10px;
  width:70px;
  height:20px;
  background:white;
  z-index:10;
  border:5px outset white;
}

#videoclose:active {
  border:5px inset white;
}

#camerabutton.howto {
  width:120px;
  background:black;
  border:20px outset magenta;
  border-top:20px outset blue;
  border-right:20px double lime;
  z-index:9999;
}

#camerabutton.howto:active {
  border:20px inset magenta;
  border-top:20px inset blue;
  border-right:20px double lime;
}

#camerabutton.howto::after {
  content:'TAKE PICTURE';
  font-weight:bold;
  text-decoration:underline;
  text-shadow:2px 2px 0px #000;
  color:yellow;
  font-size:13px;
  font-family:arial;
  position:absolute;
  top:5px;
  left:10px;
  width:300px;
}

#videoclose::after {
  content:'close';
  font-family:tmes new roman;
  font-style:italic;
  font-size:12px;
  position:absolute;
  left:10px;
  top:0;
}

video {
  border-top:12px dotted magenta;
  border-bottom:5px solid blue;
  border-left:6px solid lime;
  border-right:12px solid yellow;
  position:absolute;
  z-index:5
}

#storedbutton {
  position:fixed;
  bottom:0px;
  right:152px;
  width:30px;
  height:30px;
  border:4px outset yellow;
  background:yellow;
  background:url(http://i.imgur.com/8lkrNDP.gif);
  background-size:cover;
  transition:all .5s ease-in-out;
  z-index:3;
}

#storedinput {
  opacity:0;
}

#storedinput {
  display:none;
  width:390px;
  height:26px;
}

#storedcontainer {

  width:360px;
  height:50px;
  background:#fff;
    background:black;
  z-index:5;
  overflow-y:hidden;
  white-space: nowrap;
  image-rendering: -moz-crisp-edges;         /* Firefox */
                   image-rendering:   -o-crisp-edges;         /* Opera */
                   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
                   image-rendering: crisp-edges;
                   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#storedcontainer img {
  max-height:30px;
  max-width:30px;
  
}

#storedinput.visible {
  display:block;
  position:absolute;
  z-index:6;
  top:0;
  left:0;
}

#storedbutton:active {
  border:4px inset yellow;
}

#storedarea {
  position:absolute;
      overflow: hidden;
  bottom:0;
  right:144px;
  width:0px;
  height:30px;
  transition:all .3s ease-in-out;
  border:3px inset yellow;
  background:#ddd;
  z-index:2;
}

#storedarea.makeroom {
  width:360px;
}

#uploadbutton {
  width:30px;
  background:url(rocks.gif);
  background-size:cover;
  display:inline;
  height:30px;
  border:4px outset #eee;
  z-index:99;
  position:absolute;
  right:76px;
  bottom:0;
  transition:all .3s ease-in-out
}


body.setnick [id*=button], body.setnick #storedarea {
  opacity:0;
  display:none;
}

.dropzone input {
  width:30px;
  display:inline;
  height:30px;
  z-index:999999999;
  position:absolute;
  right:0;
  bottom:0;
  opacity:0;
}

body.setnick #msg {
  padding:8px;
  animation:1s rainbow linear infinite
}

@keyframes rainbow {
  
  0%{background:magenta}
  15%{background:#f90}
  20%{background:white}
  100%{background:cyan}
}

img {
  height:auto;
  width:auto;
  max-width:400px;
  max-height:400px;
}


