/* general */

* {
  outline: none!important
}

body {
  font-family: arial;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  
}

html.night body {
  color: #e1ff00;
  background:black;
  background: url(./image/stars-bb.gif);
}

p {
  transition: background .3s ease-in-out;
  margin: 12px 8px;
}

p img {
  cursor: pointer;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

html.night img {
  filter: saturate(120%) hue-rotate(2deg)
}

.nick {
  font-size: 12px;
  font-weight: bold
}

span.nick {
  cursor: pointer
}

html.day span.jiggle {
  animation: .5s jiggle ease-in-out 1
}

html.night span.jiggle {
  animation: .6s nightjiggle ease-in-out 1
}

#fileinput, .hidden, .loading-modal {
  display: none
}


/* logo */

#logo {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 55px;
  width: 196px;
  pointer-events:none;
}

html.day #logo {
  background: url(./image/bog.png)
}

.line {
  width: 0px;
  position: fixed;
  top: 59px;
}

html.day .line {
  background: black;
  height: 1px;
}


/* container */

#container {
  width: 100vw;
  height: calc(100vh - 50px);
  margin: 0;
  bottom: 50px;
  perspective: 220px;
  position: absolute;
  transition:all .5s ease-in-out
}

html.day #container {
  background: white;
}

/* help */

#help.flyaway {
    opacity: 0;
    transform: rotateY(13deg) rotate(-70deg) rotateX(-55deg) translateX(55px) TranslateZ(100px) translateY(-132px) scale(.6);
}

#help {
    transition: all .52s ease-out;
    white-space: pre;
    font-family: inconsolata, monospace;
    border: 2px solid magenta;
    /* padding: 15px 0 0 15px; */
    position: absolute;
    border:5px groove #eee;
    right: 0;
    /* width: 450px; */
    /* height: 300px; */
    font-size: 15px;
    line-height: 18px;
    /* width: 450px; */
    /* height: 300px; */
    /* padding: 14px 18px 14px 14px; */
    top: 15px;
    border-radius: 5px;
    padding:14px 18px 14px 14px;
    /* top: 0; */
    right: 30px;
    z-index: 999999999;
    background:white
}

/* chat */

#content {
  overflow-y: scroll;
  height: calc(100% + 0px);
  overflow-x: hidden;
  width: calc(100vw - 10px);
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: all .5s ease-in-out;
}

#crawl {
  overflow-y: scroll;
  height: calc(100% + 0px);
  overflow-x: hidden;
  width: calc(100vw - 10px);
  position: absolute;
  left:100vw;
  bottom: 0px;
  transition: all .5s ease-in-out;
  border:5px solid lime;
}

html.day #content {
  background: white;
  border: 5px solid yellow;
}

html.night #content {
  border: 5px solid #7600ff;
}

html.crawl #content {
  width:calc(50vw - 10px);
}

html.crawl #crawl {
  width:calc(50vw - 10px);
  left:50vw
}

#content.starfox {
  transform: translateZ(-45px) rotateX(-4deg);
}

html.day #content.starfox {
  opacity: .4
}


/* messagebox area */

#status {
  width: 88px;
  display: inline-block;
  padding-top: 1px;
  overflow: hidden;
  padding-left: 6px;
  position: absolute;
  margin-top: 15px;
  bottom:6px;
  color: coral;
  opacity: 1;
  transition: all .3s ease-out
}

body.setnick #msg {
  padding: 8px;
  animation: 1s rainbow linear infinite
}

body.setnick [id*=button], body.setnick #storedarea {
  opacity: 0;
  display: none;
}

#msg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: inline;
  perspective:120px; 

}







#msg {

  border: 2px solid magenta;
  transition: .4s all ease-in-out;
}

html.day #msg {
  background: white;
}

html.night #msg {
  background: black
}

#msg::after {
  transition: opacity .8s ease-out;
  opacity: 0;
  content: '';
  height: 2px;
  width: calc(100% - 304px);
  position: absolute;
  bottom: 5px;
  z-index: 999999;
  left: 91px;
  pointer-events: none;
}

html.day #msg::after {
  background: #ffeed8;
}

html.night #msg::after {
  background: rgba(226, 255, 0, 0.34);
}

#msg::before {
  content: '';
  left: 543px;
  background: #00ff97;
  opacity: 0;
  display: block;
  width: 2px;
  height: 100%;
  top: 10px;
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  transition: all .4s ease-out
}


/* message area input box */

#input {
  border-radius: 2px;
  border: 3px solid magenta;
  width: calc(100vw - 352px);
    margin-top: 8px;
    height: 15px;
    padding: 6px;
  margin-left: 88px;
  transition: all .3s ease-in-out;
}

html.night #input {
  background: black;
  color: #e1ff00
}

#input.weaksignal {
  border: 3px dashed lime!important;
}

#input.makeroom {
  width: calc(100vw - 630px);
}


/* button area, right to left */

#mutebutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 999999999999;
  right: 0px;
  background-color: #1d00ff;
  background-image: url(./image/mute.gif);
  background-size: 30px 30px;
  height: 30px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #ff9def;
  transition: all .3s ease-in-out
}

#mutebutton:active {
  border: 4px inset #ff9def;
}
/*
#mutebutton.muted {
  background-color: #510905;
  background-image: url(./image/mute.gif);
  background-size: 30px 30px;
  border: 4px outset #990065
}


#mutebutton.muted:active {
  border: 4px inset #990065;
}
*/

#mutebutton.muted::before {
  content: 'X';
  font-family: arial;
  font-size: 36px;
  position: absolute;
  color: maroon;
  left: 2px;
  top: -5px;
  z-index: 9999999999999999;
}

#radiobutton.favedtrack {
  animation:favrainbow .3s infinite linear
}

@keyframes favrainbow {
  0% { border: 4px inset #fff; }
  25% { border: 4px inset #f0f; }
  50% { border: 4px inset #ff0; }
  75% { border: 4px inset #0ff; }
  100% { border: 4px inset #fff; }
}

#radiobutton {
    width: 30px;
    height: 0px;
border: 4px outset #63ffcf;
    background: #0eff00;
    position: absolute;
    right: 0px;
        bottom: 28px;
    transition:all .12s ease-in-out;
}

html.radioready #radiobutton:active, html.radioready #radiobutton.active {
  background: #0eff00;
  border: 4px inset #fff;
}

html.radioready #radiobutton {
  height:0px;
}

.pointereventsnone {
  pointer-events:none!important
}


/* radio is active */

html.radioready #mutebutton {
    width: 30px;
    display: inline;
    position: relative;
    z-index: 999999999999;
    right: 0px;
    background-color: #1d00ff;
    background-image: url(./image/mute.gif);
    background-size: 30px 21px;
    image-rendering: pixelated;
    height: 22px;
    bottom: -2px;
    position: absolute;
    border: 4px outset #ff9def;
    transition: all .3s ease-in-out;
}

html.radioready #mutebutton:active {
  border: 4px inset #ff9def;
}

#favcurrenttrackbutton {
    width: 30px;
    display: inline;
    position: relative;
    z-index: 99;
    right: 0px;
    background-color: #ffcbf9;
    background-image: url(https://bog.jollo.org/css/image/favtrack.png);
    background-size: cover;
    /* image-rendering: pixelated; */
    height: 22px;
    bottom: -2px;
    position: absolute;
    border: 4px outset #ffb8e1;
    transition: all .3s ease-in-out;
}

#favcurrenttrackbutton:active {
  border: 4px inset #ffb8e1;
}

html.radioplaying #mutebutton {
  bottom:-42px;
}

/*
html.radioready #mutebutton.muted {
  background-color: #510905;
  background-image: url(./image/mute.gif);
  background-size: 30px 17px;
  border: 4px outset #990065
}

html.radioready #mutebutton.muted:active {
  border: 4px inset #990065;
}
*/

html.radioready #mutebutton.muted::before {
    content: 'X';
    font-family: arial;
    font-size: 36px;
    position: absolute;
    color: maroon;
    left: 2px;
    transform: scaleY(0.8);
    top: -10px;
    z-index: 9999999999999999;
}

/* */


#binbutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 9999999999999;
  right: 38px;
  background-color: rgb(233, 204, 255);
  background-image: url(./image/bin.png);
  background-size: 29px 29px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #f8efff;
}

#binbutton:active {
  border: 4px inset #f8efff;
}

#binbutton.locked {
  background-image: url(./image/bin.png);
  background-size: 30px 30px;
  border: 4px inset #e5cdf9;
}



#lockbutton {
  width: 30px;
  display: inline;
  position: relative;
  z-index: 9999999999999;
  right: 76px;
  background-color: #77f2d9;
  background-size: 30px 30px;
  background-image: url(./image/lock.png);
  height: 30px;
  bottom: -2px;
  position: absolute;
  border: 4px outset #cefff2;
}

#lockbutton:active {
  border: 4px inset #cefff2;
}

#lockbutton.locked {
  background-image: url(./image/lock.png);
  background-size: 30px 30px;
  border: 4px inset white;
}

html.day #lockbutton.locked {
  animation: 1s flicker linear infinite alternate;
  background: #77f2d9;
}

html.night #lockbutton.locked {
  animation: 1s nightflicker linear infinite;
  background: white;
}

#uploadbutton {
  width: 30px;
  background: url(./image/rocks.gif);
  background-size: cover;
  display: inline;
  height: 30px;
  border: 4px outset #eee;
  z-index: 99;
  position: absolute;
  right: 114px;
  bottom: -2px;
  transition: all .3s ease-in-out
}

#uploadbutton:active {
  border: 4px inset #eee;
}

#uploadbutton.locked {
  border: 4px inset white
}

#camerabutton {
  position: absolute;
  bottom: -2px;
  right: 152px;
  width: 30px;
  height: 30px;
  border: 4px outset #5f0;
  background: yellow;
  background: url(./image/camera.gif);
  transition: all .5s ease-in-out;
  z-index:99999;
}

#camerabutton:active {
  border: 2px inset #5f0;
}

#camerabutton.howto {
  width: 120px;
  background: black;
  border: 20px outset magenta;
  border-top: 20px outset blue;
  border-right: 20px double lime;
  z-index: 999999;
}

#camerabutton.howto:active {
  border: 20px inset magenta;
  border-top: 20px inset blue;
  border-right: 20px double lime;
}

#camerabutton.howto::after {
  content: 'TAKE PICTURE';
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 0px #000;
  color: yellow;
  font-size: 13px;
  font-family: arial;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 300px;
}

#storedbutton {
  position: absolute;
  bottom: -2px;
  right: 190px;
  width: 30px;
  height: 30px;
  border: 4px outset yellow;
  background: yellow;
  background: url(http://i.imgur.com/8lkrNDP.gif);
  background-size: cover;
  transition: all .5s ease-in-out;
  z-index: 3;
}

#storedbutton:active {
  border: 4px inset yellow;
}


/* stored container */

#storedcontainer {
  width: 245px;
  height: 50px;
  z-index: 5;
  overflow-y: hidden;
  white-space: nowrap;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

html.day #storedcontainer {
  background: #fff;
}

html.night #storedcontainer {
  background: black;
}

#storedarea {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 144px;
  width: 0px;
  height: 30px;
  transition: all .3s ease-in-out;
  border: 3px inset yellow;
  background: #ddd;
  z-index: 2;
}

#storedarea.snip {
  cursor: crosshair
}

#storedarea.makeroom {
  width: 360px;
}

#storedinput {
  opacity: 0;
}

#storedinput {
  display: none;
  width: 390px;
  height: 26px;
}

#storedcontainer img {
  max-height: 30px;
  max-width: 30px;
}

#storedinput.visible {
  display: block;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}

.dropzone input {
  width: 30px;
  display: inline;
  height: 30px;
  z-index: 999999999;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}

#trashlock {
  position: absolute;
  right: 228px;
  width: 30px;
  z-index: 99999999999999999999;
  background: #f2c9ff;
  background-image: url(./image/trash.png);
  background-size: 30px;
  height: 30px;
  border: 4px outset #f9ebf8;
  bottom: -40px;
  transition: bottom .3s ease-out
}

#trashlock.visible {
  bottom: -2px;
}

#trashlock.active {
  border: 4px inset #ffd3fa;
  animation: trashlockblink 1s linear infinite alternate;
}

@keyframes trashlockblink {
  0% {
    background-color: #f24aff;
    background-image: url(./image/trash.png);
    background-size: 30px;
  }
  100% {
    background-color: #ff6464;
    background-image: url(./image/trash.png);
    background-size: 30px;
  }
}

@keyframes zoggle {

  0% { transform: rotateZ(27deg) rotateX(-33deg) rotateY(0deg) scale(.4) translateZ(10px); }
  100% { transform: rotateZ(27deg) rotateX(-33deg) rotateY(360deg) scale(.4) translateZ(10px); }
  
}

/*videobox*/

video {
  border-top: 12px dotted magenta;
  border-bottom: 5px solid blue;
  border-left: 6px solid lime;
  border-right: 12px solid yellow;
  position: absolute;
  z-index: 5
}

#videobox {
  position: absolute;
  bottom: 80px;
  right: 40px;
  width: 400px;
  height: 300px;
}

#videoclose {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 10px;
  width: 70px;
  height: 20px;
  background: white;
  z-index: 10;
  border: 5px outset white;
}

#videoclose:active {
  border: 5px inset white;
}

#videoclose::after {
  content: 'close';
  font-family: tmes new roman;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 0;
}


/* terminal+/terminal-specific */

body.terminal #status, body.terminal.draw #status, body.terminal.drum #status {
  width: 1px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body.draw.terminal #input, body.drum.terminal #input {
  padding-top: 2px;
  margin-left: 0px;
}

body.terminal #input.makeroom, body.terminal.draw #input.makeroom, body.terminal.drum #input.makeroom {
  width: calc(100vw - 438px);
}

html.day body.terminal.draw #input, html.day body.terminal.drum #input {
  border: 3px solid magenta;
}

html.night body.terminal.draw #input, html.night body.terminal.drum #input {
  border: 3px solid magenta;
}

html.day body.terminal #input.dark, html.day body.draw.terminal #input.dark, html.day body.drum.terminal #input.dark {
  background: black;
  color: #00ff45
}

html.night body.terminal #input.dark, html.night body.terminal.draw #input.dark, html.night body.terminal.drum #input.dark {
  background: rgb(60, 107, 105);
  color: #96ffc1;
}

body.terminal div[id*=button], body.terminal.draw div[id*=button], body.terminal.drum div[id*=button]  {
  display: none!important
}

body.terminal #app {
  opacity:0!important;
  pointer-events:none!important;
}

body.terminal #storedarea, body.terminal.draw #storedarea, body.terminal.drum #storedarea {
  right: 0;
  border: none
}

body.terminal #input, body.draw.terminal #input, body.drum.terminal #input {
  width: calc(100vw - 16px);
  margin-top: 0px;
  margin-left: 0px;
  height: 25px;
  font-size: 24px;
}

body.draw.terminal #msg::before, body.drum.terminal #msg::before {
  content: '';
  left: 543px;
  background: #f8e4fb;
  opacity: 0;
  display: block;
  width: 2px;
  height: 100%;
  top: 10px;
  position: absolute;
  z-index: 1;
  pointer-events: auto;
}

body.draw.terminal #msg::after, body.drum.terminal #msg::after {
  pointer-events: none;
  opacity: 0;
  content: '';
  background: rgba(255, 0, 150, .5);
  height: 2px;
  width: calc(100% - 304px);
  position: absolute;
  bottom: 0px;
  z-index: 999999;
  left: 91px;
  pointer-events: none
}

body.draw.terminal #drawingboard, body.drum.terminal #drawingboard {
  opacity: 0!important;
  pointer-events: none!important;
}

body.draw.terminal #content, body.drum.terminal #content {
  bottom: 0px;
}


/* animations */

@keyframes nightjiggle {
  0% {
    color: magenta;
    text-shadow: 0px 0px 4px red
  }
  20% {
    color: yellow;
    text-shadow: 0px 0px 2px yellow
  }
  50% {
    color: lime;
    text-shadow: 0px 0px 2px lime
  }
  100% {
    color: cyan;
    text-shadow: 0px 0px 2px teal
  }
}

@keyframes jiggle {
  0% {
    color: magenta
  }
  30% {
    color: yellow
  }
  60% {
    color: lime
  }
  100% {
    color: teal
  }
}

@keyframes rainbow {
  0% {
    background: magenta
  }
  15% {
    background: #f90
  }
  20% {
    background: white
  }
  100% {
    background: cyan
  }
}

@keyframes flicker {
  0% {
    background: #77f2d9;
    background-image: url(./image/lock.png);
    background-size: 30px 30px;
  }
  50% {
    background: #77f2d9;
    background-image: url(./image/lock.png);
    background-size: 30px 30px;
  }
  60% {
    background: #47b2b9;
    background-image: url(./image/lock.png);
    background-size: 30px 30px;
  }
  100% {
    background: #47b2b9;
    background-image: url(./image/lock.png);
    background-size: 30px 30px;
  }
}

@keyframes nightflicker {
  0% {
    background: #ff005c;
  }
  30% {
    background: #efff00;
    background-image: url(./image/lock.png);
    background-size: 30px 30px;
  }
  60% {
    background: #84ffff;
  }
  100% {
    color: black;
  }
}

/* breakapart */

html.broken #content {
    width: 80vw;
    transform: scaleX(.5) scaleY(.9) translateX(-35vw) translateY(-11px) rotateY(5deg) rotateZ(-4deg) rotateX(-3deg) translateZ(-32px);
    }

    
html.broken.day #container {
      
}
#whatshot {

    overflow-y: scroll;
    width: 60vw;
    transform: translateX(60vw) rotateY(20deg);
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0px solid magenta;


    transition: all .5s ease-in-out;
}

html.night #whatshot {
  background:none
}

#whatshot div {
display: inline-block;
    box-shadow: 3px 3px 23px rgba(0,0,0,.4);
}

#whatshot img {
    max-height: 355px;
    max-width: 393px;
}

#whatshot span {
      transform: rotate(-90deg);
    color: yellow;
    text-shadow: 1px 2px 1px black;
    position: absolute;
    margin-top: 27px;
}

html.broken #whatshot {
    width: 75vw;
    border: 10px inset #60fdff;
    z-index: 1;
    transform: scale(.88) rotateY(-2deg) rotateX(-1deg) translateX(50px) translateY(51px) rotateZ(1deg);
}

html.night.broken #whatshot {
      border: 10px inset #ff00ff;
}


/* mobile */

@media screen and (max-width: 599px) {
  #status {
    display: none!important
  }
  #msg #input {
    width: calc(100vw - 257px);
    height: 18px;
    border-radius: 0;
    font-size: 19px;
    margin-left: 0px;
  }
  #videobox {
    right: -50px
  }
  p img {
    max-width:75vw
  }
  html.day #msg::after, html.night #msg::after {
    content:''!important;
    opacity:0!important;
    pointer-events:none!important
  }
}